version: '3.7'
services:
  moap_db:
    image: mariadb
    ports:
      - '3306:3306'
    volumes:
      - ./moap-db:/var/lib/mysql
    env_file:
      - .env
    restart: always
  backend:
    image: node:10.16
    command: npm start
    env_file:
      - .env
    environment:
      PORT: 9250
    depends_on:
      - moap_db
    restart: always
    volumes:
      - ./MOAP-Backend:/MOAP-Backend
    working_dir: /MOAP-Backend
    ports:
      - '9250:9250'
  front:
    image: node:10.16
    command: npm start
    env_file:
      - .env
    environment:
      PORT: 9251
    depends_on:
      - backend
    restart: always
    volumes:
      - ./MOAP-Front:/MOAP-Front
    working_dir: /MOAP-Front
    ports:
      - '9251:9251'
  management:
    image: node:10.16
    command: npm start
    env_file:
      - .env
    environment:
      PORT: 9252
    depends_on:
      - backend
    restart: always
    volumes:
      - ./MOAP-Management:/MOAP-Management
    working_dir: /MOAP-Management
    ports:
      - '9252:9252'
  queue:
    image: node:10.16
    command: npm start
    env_file:
      - .env
    environment:
      PORT: 9253
    restart: always
    volumes:
      - ./MOAP-Queue:/MOAP-Queue
    working_dir: /MOAP-Queue
    ports:
      - '9253:9253'

networks:
  default:
    external:
      name: bootstrap_default

